.Footer {
  margin-top: 2rem;

  &-border {
    opacity: 0.4;
    margin-bottom: 1em;
    overflow: hidden;
    user-select: none;
  }

  &-inner {
    display: flex;
    justify-content: space-between;

    a {
      color: #333;
      opacity: 0.4;
      transition: color 0.3s ease, opacity 0.3s ease;

      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }
}

html.dark-mode {
  .Footer-inner a {
    color: $dark-font-color;
  }
}
